section.aboutus .welcome-top{position:relative;height:590px;margin:40px 0}
section.aboutus .welcome-top > *{position:absolute}
section.aboutus .welcome-top h1{top:180px;left:0;margin:auto;font-size:48px;text-align:left;color:#163d4b}
section.aboutus .welcome-top img.wave{left:0;top:340px}
section.aboutus .welcome-top .gray-box{top:100px;right:189px;width:628px;height:455px;background-color:#F7F7F7}
section.aboutus .welcome-top img.aboutus{right:0}
section.aboutus .welcome-top .gray-line{bottom:0;left:0;right:0;width:1px;height:70px;background-color:#A1A1A1;margin:auto}

section.aboutus .welcome-text{font-size:24px;max-width:911px;margin:50px auto;font-family:'Open Sans Light';opacity:.7}

section.aboutus .services{position:relative;height:510px;margin:100px 0}
section.aboutus .services > *{position:absolute}
section.aboutus article{right:100px;top:100px;max-width:440px;text-align:left}
section.aboutus article h3{font-size:24px}
section.aboutus article p{font-size:14px;font-family:'Open Sans Light';opacity:.7}
section.aboutus .services img.wave{left:50px;top:273px}
section.aboutus .services img.most-important{left:100px}
section.aboutus .services .gray-box{top:20px;left:300px;width:345px;height:370px;background-color:#F7F7F7}
section.aboutus .services .gray-line{bottom:0;left:0;right:0;width:1px;height:150px;background-color:#A1A1A1;margin:auto}

section.aboutus .services-text{font-size:14px;opacity:.7;font-family:'Open Sans Light';display:table;letter-spacing:.5px;line-height:22px}
section.aboutus .services-text > *{display:table-cell;text-align:left}
section.aboutus .services-text > :nth-child(1){width:32%}
section.aboutus .services-text > :nth-child(2){padding:0 33px;width:36%}
section.aboutus .services-text > :nth-child(3){width:32%}

section.aboutus .attention{margin:100px 0 150px}
section.aboutus .attention p{font-family:'Open Sans Light';opacity:.7;font-size:14px;letter-spacing:.5px;line-height:22px;}
section.aboutus .attention h2{font-size:18px;line-height:21px;color:#163D4B}
section.aboutus .attention div{font-family:'Open Sans Light';opacity:.7;font-size:14px;letter-spacing:.43px;line-height:22px}

@media tablet_width
  section.aboutus article{right:0}

  section.aboutus .services .gray-box{left:240px}
  section.aboutus .services img.most-important{left:40px}
  section.aboutus .services img.wave{left:0}

@media smartphone_width
  section.aboutus .welcome-top{margin:40px -15px}
  section.aboutus .welcome-top h1{top:340px;left:16px}
  section.aboutus .welcome-top img.wave{top:550px;left:16px}
  section.aboutus .welcome-top img.aboutus{width:100%}
  section.aboutus .welcome-top .gray-box{top:0;left:0;right:inherit;width:80%;height:50%}
  section.aboutus .welcome-top .gray-line{bottom:260px}

  section.aboutus .services{height:750px}
  section.aboutus .services img.most-important{left:0;right:0;margin:auto}
  section.aboutus .services article{top:360px;left:0;right:0;margin:auto}
  section.aboutus .services .gray-box{display:none}
  section.aboutus .services img.wave{display:none}

  section.aboutus .services-text{display:block}
  section.aboutus .services-text > *{display:block}
  section.aboutus .services-text > :nth-child(1){width:100%}
  section.aboutus .services-text > :nth-child(2){padding:0px;width:100%}
  section.aboutus .services-text > :nth-child(3){width:100%}
