.tours-h1
  font-size 2.5em;
  text-align: left;
  margin: 15px 0px
  color: $strong-blue

.tours-h2
  font-size 1.8em;
  text-align: left;
  margin: 15px 0px
  color: $strong-blue

.menu-tours-list{overflow-x:auto;height:45px}

.container-tours-list
  display: table
  width: 1080px
  & > div
    display: table-cell
    font-size: 24px
    color: $strong-blue
    font-family: 'Ubuntu-Medium'
    text-align: left
    // width: 15%
  // & > div:first-child
  //   text-align: left
  // & > div:last-child
  //   text-align: right

.select-category
  position: relative;
  &::after
    content: ''
    height: 12px
    width: 61px
    position: absolute;
    bottom: -15px
    left: 0
    background-image: url(../img/wave.svg)
    background-size: contain;
    background-repeat: no-repeat;

.pan
  text-align: left

.pan[data-grande] [data-numero="4"]
  max-width: 1080px

.container-tours-item
  margin-top: 70px
  font-size: 0
  figure
    width: 250px
    border-radius: 4px
    display: inline-block;
    vertical-align: top
    margin-right: 18px
    margin-bottom: 60px
    &:hover
      .duration
        & > div
          background-color: $back-orange
    [data-descuento]
      &:before
        content: attr(data-descuento);
        position: absolute;
        right: 15px
        top: 15px
        border-radius: 12px
        background-color: $back-orange
        color: rgba(0,0,0,.7)
        padding: 3px 4px
        // width: 62px
        // height: 24px
        font-size: 12px
        font-family: 'Open Sans Semi'
    &:last-child
      margin-right: 0
    .imagen
      position: relative;
      z-index: 0;
      img
        height: 200px
        width: 250px
        border-radius: 4px
    .title
      display: table
      width: 100%
      height: 40px
      margin-top: 25px
      & > div
        display: table-cell;
        vertical-align: top
    .duration
      font-size: 14px
      text-align: left
      margin-top: 12px
      & > div
        display: inline-block;
        transition: background .5s ease
        span
          color: $strong-blue
          font-size: 20px
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        label
          color: #000
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
    figcaption
      font-family: 'Ubuntu-Medium'
      color: $strong-blue
      font-size: 18px
