.wrap-text{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}

// Checkout
.checkout{text-align:left;margin:50px 0}
.checkout h1{font-size:24px;color:#163D4B;margin:0}
.checkout h3{font-size:18px;color:#163D4B;margin:auto}
.checkout p{opacity:0.7;font-family:"Open Sans";font-size:16px;letter-spacing:0.57px;line-height:22px}
.checkout .table{display:table;width:100%}
.checkout .table > *{display:table-cell}
.checkout .table > :nth-child(1){width:32%}
.checkout .table > :nth-child(2){padding:0 10px;width:34%}
.checkout .table > :nth-child(3){width:32%}
.border-red{border: 1px solid red}

.checkout .container-methods > *{display:inline-block;margin:20px 50px 20px 0}
.checkout .container-methods > * h4{opacity:0.7;font-family:"Open Sans";font-size: 14px;letter-spacing:0.5px;}

.checkout .inputs{margin:40px 0}
.checkout .inputs label{display:block;margin:15px 0 11px;padding-left:16px}
.checkout .inputs input,textarea{display:block;width:100%;border-radius:4px;border:none;
  font-size:14px;font-family:'Open Sans Light';padding:10px 16px;resize:none}
.checkout .inputs input[type=submit]{background-color:#24AAC5;border-radius:4px;color:#F7F7F7;font-weight:500;letter-spacing:0.5px;line-height:19px}
.checkout .inputs input:focus
.checkout .inputs textarea:focus{box-shadow:0 6px 16px 0 rgba(0,0,0,0.06)}

.checkout .inputs .cvv-help{position:relative}
.checkout .inputs .cvv-help:after{content:'';height:24px;width:37px;
    position:absolute;
    bottom: 8px;
    right:10px;
    background-image: url(../img/checkout/cvv-help.png)}

.checkout .purchase-order{cursor:default;height:45px;width:57%;margin-top:20px;display:block;border-radius:4px;font-size:14px;letter-spacing:0.5px;line-height:45px;text-align:center;background-color:#eaeaea;color:#a1a1a1;border:none;}
.checkout .purchase-order.correct{cursor:pointer;background-color:#24AAC5;color:#F7F7F7}
.checkout .purchase-order + p{color:#000000;font-family:"Open Sans";font-size:12px;letter-spacing:0.43px}
.checkout .purchase-order + p span{opacity:0.38}
.checkout .purchase-order + p a{text-decoration:underline}
.checkout .purchase-order + p b{font-weight:normal}

.checkout .information-summary{display:table;width:100%}
.checkout .information-summary > *{display:table-cell;vertical-align:top}
.checkout .information-summary > :first-child{width:60%;padding-right:32px}
.checkout .information-summary > :last-child{width:40%}
.checkout .information-summary .customer-information{border-radius:4px;background-color:#FBFBFB;padding:20px}
.checkout .information-summary .order-summary{border-radius:4px;background-color:#FBFBFB;padding:20px}

.checkout table.summaries{border-collapse: collapse;width:100%}
.checkout table.summaries h2{margin:0;max-width:200px}
.checkout table.summaries tbody tr.border td{border-bottom:1px solid #EAEAEA}
.checkout table.summaries tbody tr.extras{font-size:12px;opacity:0.7;font-family:"Open Sans";letter-spacing:0.43px}
.checkout table.summaries tbody tr.extras td{padding-top:0}
.checkout table.summaries tbody td{padding:20px 3px}
.checkout table.summaries tbody td:last-child{text-align:right}
.checkout table.summaries tbody div{opacity:0.7;color:#000000;font-family:"Open Sans";font-size:12px;letter-spacing:0.43px}
.checkout table.summaries tbody .icon-delete-item{opacity:.34;font-size:16px;cursor:pointer}

.checkout .order-summary .subtotal{margin-top:20px;display:table;width:100%;opacity: 0.7;font-family:"Open Sans";font-size:12px;letter-spacing:0.43px}
.checkout .order-summary .subtotal > *{display:table-cell}
.checkout .order-summary .subtotal > :last-child{text-align:right}
.checkout .order-summary .subtotal > * div{margin:4px 0}

.checkout .order-summary .promo-code{margin-top:20px;display:table;width:100%}
.checkout .order-summary .promo-code > *{display:table-cell}
.checkout .order-summary .promo-code > :last-child{text-align:right}
.checkout .order-summary .promo-code input{display:block;width:100%;height:45px;border-radius:4px;border:none;
  font-size:14px;font-family:'Open Sans Light';padding:10px 16px}
.checkout .order-summary .promo-code input:focus{box-shadow:0 6px 16px 0 rgba(0,0,0,0.06)}
.checkout .order-summary .promo-code button{width:127px;height:45px;border:1px solid #A1A1A1;border-radius:4px;color:#A1A1A1;font-family:Ubuntu;font-size:14px;letter-spacing:0.5px;}

.checkout .order-summary .order-total{margin-top:20px;display:table;width:100%;font-family:Ubuntu;font-size:18px}
.checkout .order-summary .order-total > *{display:table-cell}
.checkout .order-summary .order-total > :last-child{text-align:right}
.checkout .order-summary .order-total > * div{background-color:#f6c500;display:inline-block}

.checkout .order-summary .order-secure{margin-top:32px;text-align:center;opacity:0.7;font-family:"Open Sans";font-size:12px;letter-spacing:0.43px}

.checkout .order-summary + .questions{opacity:0.7;font-family:"Open Sans";font-size:12px;letter-spacing:0.43px;margin:20px}
.checkout .order-summary + .questions + div{margin-left:20px}
.checkout .order-summary + .questions + div div{display:inline-block;color:#163D4B;font-family:Ubuntu;font-size:14px;letter-spacing:0.5px;margin:0 30px 0 10px}
.checkout .order-summary + .questions + div [class^="icon-"]{font-size:17px}

// Purchase confirmation
.checkout.purchase-confirmation{padding:100px 0}
.checkout.purchase-confirmation .container{max-width:534px;margin:auto;text-align:left}
.checkout.purchase-confirmation h1{font-size:48px;letter-spacing:1.71px;line-height:55px;color:#163D4B;margin:0}
.checkout.purchase-confirmation h3{font-size:18px;line-height:21px;color:#163D4B}
.checkout.purchase-confirmation p{opacity:0.7;font-family:"Open Sans";font-size:16px;letter-spacing:0.57px;line-height:22px;margin:30px 0}
.checkout.purchase-confirmation .wave{margin-bottom:15px}
.checkout.purchase-confirmation .box{border:1px solid #EAEAEA;border-radius:4px;box-shadow:0 2px 20px 0 rgba(0,0,0,0.06);padding:20px 20px 0;margin-bottom:20px}
.checkout.purchase-confirmation .box div{opacity:0.7;font-family:"Open Sans";font-size:16px;letter-spacing:0.57px;line-height:22px;margin:30px 0}
.checkout.purchase-confirmation .notes{opacity:0.7;font-family:"Open Sans";font-size:12px;letter-spacing:0.43px;line-height:17px}
.checkout.purchase-confirmation .actions{display:table;width:100%;margin-top:20px}
.checkout.purchase-confirmation .actions > *{display:table-cell;width:50%}
.checkout.purchase-confirmation .actions > :first-child{padding-right:10px}
.checkout.purchase-confirmation .actions > :last-child{padding-left:10px}
.checkout.purchase-confirmation .actions > :first-child a{background-color:#24AAC5;color:#F7F7F7;line-height:45px}
.checkout.purchase-confirmation .actions > :last-child a{border:1px solid #24AAC5;color:#24AAC5;line-height:45px}
.checkout.purchase-confirmation .actions a{height:46px;text-align:center;letter-spacing:0.5px;border-radius:4px;font-size:14px;display:inline-block;width:100%}

// Purchase error
.checkout.purchase-error{padding:160px 0}
.checkout.purchase-error h1{font-size:48px;letter-spacing:1.71px;line-height:55px;color:#163D4B;margin:0}
.checkout.purchase-error p{opacity:0.7;font-family:"Open Sans";font-size:16px;font-weight:300;
  letter-spacing:0.57px;line-height:22px;max-width:534px;margin:40px auto}
.checkout.purchase-error a{height:45px;width:257px;border-radius:4px;background-color:#24AAC5;color:#F7F7F7;
  letter-spacing:0.5px;line-height:45px;display:inline-block}

@media smartphone_width
  .checkout .information-summary{display:block}
  .checkout .information-summary > *{display:block}
  .checkout .information-summary > :first-child{width:100%;padding-right:0px;padding-bottom:32px}
  .checkout .information-summary > :last-child{width:100%}
  .checkout .purchase-order{width:100%}
  .checkout .purchase-order + p b{display:block}
  .checkout table.summaries tbody tr{display: block}
  .checkout table.summaries tbody td{padding:12px 3px;}
  .checkout table.summaries tbody tr.border td{border-bottom:none;}
  .checkout table.summaries tbody td:last-child{display: block; width: 100%;text-align: left;border-bottom:1px solid #eaeaea !important;padding-top:10px;padding-bottom:10px;}
