section.contatc-us{margin:60px 0}
section.contatc-us h1{font-size:48px;color:#163D4B;letter-spacing:1.71px;line-height:55px;text-align:left;margin:0}
section.contatc-us h4,section.contatc-us h2{font-size:18px;color:#163D4B;font-weight:500;line-height:21px;text-align:left;margin:0;color: $strong-blue}

section.contatc-us form{background-color:#FBFBFB;padding:40px 20px;max-width:816px;margin-top:30px;position:relative}
section.contatc-us form input,textarea{display:block;width:307px;border-radius:4px;border:none;margin-top:15px;
  font-size:14px;font-family:'Open Sans Light';padding:10px 16px;resize:none}
  section.contatc-us form input[type=submit]{background-color:#24AAC5;border-radius:4px;color:#F7F7F7;font-weight:500;letter-spacing:0.5px;line-height:19px}

section.contatc-us form input:focus
section.contatc-us form textarea:focus{box-shadow:0 6px 16px 0 rgba(0,0,0,0.06)}

section.contatc-us form .contact-info{position:absolute;top:42px;left:370px;text-align:left}
section.contatc-us form .contact-info h2{font-size:24px;line-height:28px}
section.contatc-us form .contact-info h3{font-size:18px;line-height:21px}
section.contatc-us form .contact-info p{font-size:14px;line-height:22pxl;etter-spacing:0.5px;opacity:.7}
section.contatc-us form .contact-info .wave{margin-bottom:30px}

section.contatc-us form .contact-image{position:absolute;top:54px;right:-252px}

@media tablet_width
  section.contatc-us form .contact-image{display:none}

@media smartphone_width
  section.contatc-us{height:950px}
  section.contatc-us form .contact-image{display:none}
  section.contatc-us form .contact-info{top:560px;left:20px}
