$header-height = 150px
$footer-height = 116px
$strong-blue = #163D4B
$back-orange = #F6C500

// MEDIA
smartphone_width = "(max-width: 850px)"
tablet_width = "(min-width: 851px) and (max-width: 1080px)"
wide_width = "(min-width: 1081px) and (max-width: 1300px)"


.relative{
  position: relative;
}

.container{
  margin: 0 auto;
	min-height: 100%;
	margin-bottom: - $footer-height;
	padding: 0px;
	background: #FFF;
}

figure{
  margin:0;
}

html,body{
  text-align: center;
	background: #FFF;
	font-size: 12px;
	margin: 0;
	height: 100%;
	position: relative;
	width: 100%;
  font-family: 'Open Sans';
  // overflow-x:hidden;
}

.container-max-width{
  max-width: 1080px;
	width: 100%;
	display: inline-block;
	position: relative;
}

.push-top{
  height: $header-height;
}

.push-bottom{
  height: $footer-height;
}

header{
  width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	color: $strong-blue;
  height: $header-height;
  background: #FFF;
  font-size: 14px;
  font-family: 'Ubuntu-Medium';
}

header nav{
  height: 100%;
}

.container-wrapper{
  position: relative;
}

ul{
  padding: 0;
	margin: 0;
  text-decoration: none;
}

ul li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

a{
  text-decoration: none;
	color: inherit;
}

input{
  outline: none;
}

*{
  box-sizing: border-box;
	outline: none;
}

footer{

}

.container-footer{
  height: $footer-height;
  color: $strong-blue;
  font-size: 14px;
  font-family: 'Ubuntu-Medium';
}

.responsive-footer > div{
  padding: 15px 0px;
}

.responsive-footer > div span{
  padding: 10px;
}

.container-footer .responsive-show{
  display: none;
}

header .container-max-width{
  height: 100%;
}

header ul{
  height: 100%;
  display: table;
  padding-left: 80px;
  width: 100%;
}

header ul li{
  display: table-cell;
  vertical-align: middle;
}

header ul li span{
  font-size: 20px;
  position: relative;
}

.icon-cart{position:relative}
.icon-cart b{
  position: absolute;
  background-color: $back-orange;
  top: -20px;
  right: -10px;
  font-size: 14px;
  padding: 2px;
  width: 20px;
  border-radius: 10px;
  font-family: 'Ubuntu-Medium';
}

.height100{
  height: 100%;
}

.ancho100{
  width: 100%;
}

.ancho20{
  width: 20%;
}

.vertical-middle{
  vertical-align: middle;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.table{
  display: table;
  width: 100%;
}

.cell{
  display: table-cell;
}

.table-footer ul li{
  // width: 25%;
  vertical-align: middle;
}

.table-footer ul li:last-child{
  text-align: right;
}

.table-footer ul li:last-child span{
  padding: 0px 15px;
  display: inline-block;
}
a[data-title="TOURS & ACTIVITIES"]::before{
  width: 100%;
}

.select-title-100::before{
  width: 100% !important;
}

.select-title{
  position: relative;
}
.select-title::before{
  content: attr(data-title);
  position: absolute;
  height: 100%;
  width: 90%;
  background: $back-orange;
}

.nav-responsive{
  display: none;
  background: #FFF;
  width: 100%
  position: fixed;
  z-index 52;
}

.container-menu-responsive{
  display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #FFF;
	z-index: 100;
	text-align left;
  color: $strong-blue;
}

.container-menu-responsive ul li{
  width: 100%;
  padding: 15px 0px;
  padding-left: 50px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Ubuntu-Medium';
}

.responsive-close-button{
  float: right;
	cursor: pointer;
	margin-top: 30px;
  margin-right: 30px;
	font-size: 20px;
}

.footer-responsive-menu{
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.fixed-nav-cart{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #24aac5;
  color: #FFF;
  z-index: 52;
  display: none;
  font-family: 'Ubuntu-Medium';
  font-size: 18px;
}

.fixed-nav-cart > div{
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.fixed-nav-cart > div:first-child{
  text-align: left;
  padding-left: 15px;
}

.fixed-nav-cart > div:first-child span:first-child{
  border: 1px solid #FFF;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 16px;
}

.fixed-nav-cart > div:last-child{
  text-align: right;
  padding-right: 15px;
}

.show-responsive{
  display: none;
}

// chosen
.chosen-container-single .chosen-single{border:none;background:none;box-shadow:none}
// jquery-modal
.blocker{z-index:200}


// PULSE
.loading-container{
  position: fixed;
  z-index: 110;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, .5);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear, visibility 0.5s;
}

.vanish{
  opacity: 0;
  visibility: hidden;
}


.pulse{
 border: 3px solid #999;
 height: 30px;
 width: 30px;
 position: absolute;
 left: 48%;
 top: 50%;
 animation: pulsate 1s ease-out infinite;
 border-radius: 30px;
 opacity: 0;
}


@keyframes pulsate{
	0%{
		transform:scale(0.1,.1);
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		transform:scale(1.2,1.2);
		opacity:0;
	}
}

@-webkit-keyframes pulsate{
	0%{
		-webkit-transform:scale(0.1,.1);opacity:0;
	}
	50%{
		opacity:1
	}
	100%{
		-webkit-transform:scale(1.2,1.2);opacity:0
	}
}

@-moz-keyframes pulsate{
	0%{
		transform:scale(0.1,.1);
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		transform:scale(1.2,1.2);opacity:0;
	}
}

@-o-keyframes pulsate{
	0%{
		transform:scale(0.1,.1);opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		transform:scale(1.2,1.2);
		opacity:0;
	}
}
