@font-face {
	font-family: 'Ubuntu-Light';
	src: url('../fonts/Ubuntu/Ubuntu-Light/Ubuntu-Light.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Light/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu-Light/Ubuntu-Light.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu-Light/Ubuntu-Light.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu-Light/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu-Regular/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.eot');
	src: url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Semi';
	src: url('../fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.eot');
	src: url('../fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
