.padding-orientation
  padding: 50px 0px

.home-top
  height: 80vh
  min-height: 700px
  position: relative

.home-left
  position: absolute;
  display: inline-block;
  left: 3%
  top: 80px
  z-index 1
  width: 50%
  img
    width: 100%

h3
  font-size: 48px
  font-family: 'Ubuntu'
  color: $strong-blue

.home-right
  right: 3%
  position: absolute;
  display: inline-block;
  background-color: #F7F7F7;
  text-align: left
  padding: 40px 30px 40px 90px
  width: 48%
  h1
    font-size: 48px
    font-family: 'Ubuntu'
    color: $strong-blue
  h2
    font-size: 24px
    font-family: 'Open Sans Light'
    color: #000
.clear
  clear: both

.circle-left
  position: absolute;
  left: 0
  top: 30px

.wave-right
  position: absolute;
  right: -15%
  top: 100%

.wave-left
  position: absolute;
  left: -5%
  top: 90%

.introduction-home
  padding-top: 50px
  p
    font-size: 24px
    color: #000
    font-family: 'Open Sans Light'
    opacity: .70
  label
    color: $strong-blue
    font-size: 14px
    font-family: 'Ubuntu-Medium'

.link-text
  color: $strong-blue
  font-size: 14px
  font-family: 'Ubuntu-Medium'
  padding: 5px 5px
  &:hover
    background: #F7F7F7
    border-radius: 2px

.relative-circle
  position: relative;
  overflow: hidden;

.relative-circle-height-right
  height: 350px;
  margin-bottom:-240px;

.relative-circle-height-left
  height: 235px;

.big-circle-right
  position: absolute;
  right: -150px;
  img
    width: 300px

.big-circle-left
  position: absolute;
  left: -75px;
  img
    width: 150px

.container-chosen
  text-align: left
  h3
    display: inline-block;
    margin-top: 20px;
    margin-bottom:10px;
  img
    display: inline-block;

.container-max-circle
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

.img-blur
  width: 100%;
  height: 100%;
  -webkit-background-size: 75%;
  -moz-background-size: 75%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center bottom;
  bottom: -10px;
  position: absolute;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  z-index: -1;

.table-activities-overflow
  width: 100%
  overflow-x: scroll

.container-home-tours
  margin-top: 100px
  overflow: hidden

.home-activities-container
  display: table;
  width: 100%;
  color: $strong-blue
  font-family: 'Ubuntu-Medium'
  margin-bottom: 100px
  text-align: left
  font-size: 0
  & > div
    display: inline-block;
    vertical-align: bottom;

.home-activities-right
  width: 40%
.home-activities-right-70
  width: 70%

.home-activities-left
  text-align: left
  width: 30%;
  min-width: 250px;
  max-width: 300px;
  h3
    font-size: 24px
    margin: 0
  // & > div
  //   & > div
  //     height: 80px
  .activities-number
    display: table
    margin-top: 20px
    width: 100%
    font-size: 18px
    margin-bottom: 5px
    & > div
      display: table-cell
  .transportation-bottom
    padding-top: 33px
    padding-bottom: 44px

.activities-bar
  background: #EAEAEA;
  height: 6px;
  width: 156px;
  border-radius: 3px;
  margin-top: 30px;
  position: relative;
  display: inline-block;
  .progress
    height: 100%
    left: 0
    width: 10%;
    background: #24AAC5;
    position: absolute;
    border-radius: 3px;
    transition: width .40s ease

.container-table-activities
  width: 1500px
  overflow: scroll;

.table-activities
  display: table
  width: 100%
  text-align: left;
  & > div
    display: inline-block
    position: relative;
    text-align: left;
    margin-right: 15px;
    margin-bottom: 8px
    & > div
      position: relative;
      z-index: 0
      margin-bottom: 20px;
    img
      width: 344px
      height: 272px
      border-radius: 4px;
    label
      font-size: 18px

.waiting-section
  display: table;
  width: 100%;
  text-align: left
  margin-bottom: 150px
  & > div
    display: table-cell
    width: 50%
    vertical-align: middle
  & > div:last-child
    & > div
      & > img
        width: 100%
        z-index 1
        position: relative;

.blue-button
  height: 42px
  border-radius: 4px
  background-color: #24AAC5
  color: #FFF
  border: none
  font-size: 14px
  font-family: 'Ubuntu-Medium'
  padding: 0px 40px;

.white-button
  height: 42px
  border-radius: 4px
  background-color: #FFF
  color: #24AAC5
  border: 2px solid #24AAC5
  font-size: 14px
  font-family: 'Ubuntu-Medium'
  padding: 0px 40px;


.waiting-wave
  position: absolute;
  left: -43px
  top: 50px
  z-index: 2

.waiting-circle
  position: absolute;
  bottom: -20px
  right: -98px
  z-index: 0
  img
    width: 200px

.information-section
  font-size: 14px
  h1
    font-size: 1.5em
    text-align: left
  p
    font-size: 1em
    text-align: justify;

.banner-mobile
  display: none;

@media smartphone_width
  .banner-mobile
    display: block;
    margin-top: -50px;
    img
      width: 100%;