@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?yognl');
  src:  url('../fonts/icons/icomoon.eot?yognl#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?yognl') format('truetype'),
    url('../fonts/icons/icomoon.woff?yognl') format('woff'),
    url('../fonts/icons/icomoon.svg?yognl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-act-level:before {
  content: "\e900";
}
.icon-add-to-cart:before {
  content: "\e901";
}
.icon-arrival-flight:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-next:before {
  content: "\e904";
}
.icon-burger-icon:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e906";
}
.icon-CheckOff:before {
  content: "\e907";
}
.icon-CheckOn:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-delete-item:before {
  content: "\e90a";
}
.icon-departure-flight:before {
  content: "\e90b";
}
.icon-download-receipt:before {
  content: "\e90c";
}
.icon-dropdown-less:before {
  content: "\e90d";
}
.icon-dropdown-more:before {
  content: "\e90e";
}
.icon-duration:before {
  content: "\e90f";
}
.icon-extras:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-hotel:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-mail:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
}
.icon-play:before {
  content: "\e916";
}
.icon-price:before {
  content: "\e917";
}
.icon-recommended-for:before {
  content: "\e918";
}
.icon-restriction:before {
  content: "\e919";
}
.icon-waiting:before {
  content: "\e91a";
}
.icon-youtube:before {
  content: "\e91b";
}
