.modal.lunchfins table{width:100%;border-collapse:collapse}
.modal.lunchfins table td{padding:5px;font-size:14px}
.modal.lunchfins table select{width:100%;border:none;background:white;font-size:14px;opacity:.7}
