@media tablet_width
  .container-max-width
    padding-left: 15px
    padding-right: 15px


@media smartphone_width
  .container-max-width
    padding-left: 15px
    padding-right: 15px
  .push-top
    height: 126px
  header
    display: none;
  .nav-responsive
    display: table
    & > div
      display: table-cell
      vertical-align: middle
      padding: 5px 0px
      span
        font-size: 18px
        color:$strong-blue;
    & > div:first-child
      text-align: left
      padding-left: 15px
  .circle-left
  .home-left
    display: none;
  .home-right
    position: relative;
    right: inherit;
    padding: 0;
    width: 100%;
    background: none
  .wave-right
    position: relative;
    margin-top: 15px
    right: inherit;
    top: inherit;
  .home-top
    height: auto
    min-height: inherit;
  .relative-circle-height-right
    display: none;
  .introduction-home
    padding-top: 0
  .container-chosen
    h3
      font-size: 30px
  .container-home-tours
    margin-top: 20px
  .waiting-section
    display: block;
    margin-bottom: 50px
    & > div
      display: inline-block;
      width: 100%
    & > div:last-child
      display: none
    button
      width: 100%
  .home-activities-container
    margin-bottom: 20px
    & > div
      display: block
      // width: 100%
  .container-footer
    height: 230px
    .responsive-hide
      display: none
    .responsive-show
      display: block
  .push-bottom
    height: 230px
  .pan
    text-align: center
  .container-tours-item
    figure
      margin: 0
      margin-bottom: 35px
  .banner
    height: 70vh
  .container-arrows
    right: -1px
    bottom: -1px
  .detail-table
    display: block
    & > div
      display: block
  .detail-column-left
    padding-right: 0
  .transportation-item
    display: block
    & > div
      display: block
      &:last-child
        padding-left: 0
    .transportation-info
      display: table
      width: 100%
      margin-top: 10px
      & > div
        display: table-cell
        & > div
          display: table-cell
          &:last-child
            padding-left: 20px

  .container-transportation-items
    figure
      margin-right: 0
      margin-bottom: 15px
  .container-detail-transport
    .detail-top
      display: block
      & > div
        display: block
        width: 100%
        &:last-child
          padding-left: 0
  .form-inputs
    .renglon
      .container-el
        width: 100%
        display: block
        margin-top: 15px
  .detail-transport-buttons > div
    display: block
    width: 100%
    margin-bottom: 15px
  .fixed-nav-cart
    display: table
  .detail-title
    text-align: center
    h3
      font-size: 28px
  .container-tour-detail
    padding: 20px 0px
    .detail-extras
      margin: 15px 0px 15px 0px
      & > div
        display: block
        &:last-child
          text-align: left
          margin: 15px 0px
    .extra
      display: inline-block
      margin-right: 10px
      margin-top: 10px
      span
        font-size: 16px
        display: inline-block
        vertical-align: middle
        font-size: 18px
  .detail-column-left
    .detail-restrictions
    .detail-includes
    .detail-bring
      margin-bottom: 20px
  .hide-responsive
    display: none
  .show-responsive
    display: block
