.banner
  width: 100%
  height: 36.5vw
  position: relative;
  background: #FBFBFB

.slider li
  width: 100%
  height: 100%
  position: absolute;
  left: 0
  list-style-type: none;
  transition left 1s ease

.banner .wait
  cursor: wait;

.slider
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  overflow: hidden;
  position: relative;

.slider i
  left: 0
  width: 100%
  height: 100%
  position: absolute;
  &.descuento
    &:before
      content: attr(data-descuento);
      position: absolute;
      right: 15px
      top: 15px
      border-radius: 12px
      background-color: $back-orange
      color: rgba(0,0,0,.7)
      padding: 6px 10px
      font-size: 1.8em
      font-family: 'Open Sans Semi'

.fondo
  background-size: cover
  background-repeat: no-repeat;
  background-position: center center;

.container-arrows
  position: absolute;
  right: 0
  bottom: 0
  height: 80px
  width: 250px
  background: #FFF
  z-index: 51
  display: table
  & > div
    display: table-cell;
    vertical-align: middle
    color: $strong-blue
    font-size: 24px
    width: 50%

.detail-title
  color: $strong-blue
  font-family: 'Ubuntu-Medium'
  text-align: left;
  h1
    margin-top: 0
    margin-bottom: 10px
    font-size: 3em
    display: inline-block
  h2
    margin-top: 0
    margin-bottom: 10px
    font-size: 2em
    display inline-block

.container-tour-detail
  padding: 50px 0px
  h3
    font-size: 24px
    display: inline-block
  .detail-discount
    border-radius: 12px
    background-color: #f6c500
    color: rgba(0,0,0,0.7)
    font-size: 16px
    font-family: 'Open Sans Semi'
    padding: 5px 10px
    display: inline-block;
    margin: 0px 15px
  .detail-extras
    margin:30px 0px 50px 0px
    display: table
    width: 100%
    & > div
      display: table-cell;
      vertical-align: middle
    & > div:first-child
      text-align: left
    & > div:last-child
      text-align: right
      .extra
        span
          color: $strong-blue
          font-family: 'Ubuntu-Medium'
    .extra
      display: inline-block
      margin-right: 30px
      span.icon-youtube
        color: $strong-blue
        font-size: 20px
        display: inline-block;
        vertical-align: middle
        margin-right: 10px
      label
        color: #000
        font-size: 14px
        display: inline-block;
        vertical-align: middle

.detail-table
  display: table
  width: 100%
  & > div
    display: table-cell
    vertical-align: top
  & > div:last-child
    width: 345px

.detail-column-left
  padding-right: 30px
  .detail-description
    text-align: justify;
    color: rgba(0,0,0, .7)
    margin-bottom: 50px
    p
      margin-bottom: 20px
      font-size: 14px
  .detail-restrictions
  .detail-includes
  .detail-bring
    text-align: left
    margin-bottom: 50px
    h3
      color: $strong-blue
      font-size: 18px
      font-family: 'Ubuntu-Medium'
.detail-column-right
  text-align: left
  h3
    font-size: 24px
    color: $strong-blue
  .container-calendar
    border-radius: 4px
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08)
    background: #24AAC5
    padding: 20px
    position: relative
    input
      width: 100%
      border: 0
      background: transparent
      color: #FFF
      font-size: 20px
      font-family: 'Ubuntu-Medium'
      position: relative
      z-index: 1
      cursor: pointer
    span
      position: absolute
      right: 20px
      top: 25px
      color: white
      font-size: 16px
  .detail-form
    margin-top: 20px
    margin-bottom: 20px
    background: #FBFBFB
    border-radius: 4px
    padding: 20px
    .renglon
      margin-bottom: 15px
    .container-pax
      display: table
      width: 100%
      background: #FFF
      border-radius: 4px
      font-size: 12px
      height: 45px
      select
        width: 100%
        border: none
        background: none
        font-size: 14px
        color: rgba(0,0,0,.7)
      & > div
        display: table-cell
        vertical-align: middle
        padding: 12px 18px
        font-size: 14px
        label
          color: rgba(0,0,0,.7)
      & > div:first-child
        text-align: left
      & > div:last-child
        text-align: right;

.table-summary
  width: 100%
  font-size: 18px
  color: $strong-blue
  font-family: 'Ubuntu-Medium'
  tr
    & td:first-child
      text-align: left
    & td:last-child
      text-align: right
    & td
      padding-bottom: 10px
  tr:last-child
    td
      label
        background: $back-orange

.container-select
  height: 45px
  background: #FFF
  border-radius: 4px
  select
    width: 100%
    height: 100%
    background: transparent
    font-size: 14px
    border: none
    color: rgba(0,0,0,.7)
  input
    width: 100%
    height: 100%
    font-size: 14px
    border: none
    padding: 0 7px
    color: rgba(0,0,0,.7)

.button
  margin: 10px 0px
  button
    height: 45px
    width: 100%
    border-radius: 4px
    font-size: 14px
    border: none
    background: transparent
    font-family: 'Ubuntu-Medium'
  .button-back-gray
    background: #EAEAEA
    color: #A1A1A1
    font-family: 'Ubuntu-Medium'
  .button-back-gray-blue
    background: #24aac5
    color: #fff
    cursor: pointer
  .button-back-white
    border: 1px solid #A1A1A1
    color: #A1A1A1
  .button-back-white-blue
    border: 1px solid #24aac5
    color: #24aac5
    cursor: pointer
  .button-pay-arrival
    color: #163d4b;
    background-color: #f6c500;
    border: 1px solid #f6c500;
    font-weight: bold;

.two-columns
  display: inline-block;
  width: 100%
  columns: 2
  -webkit-columns: 2
  -moz-columns: 2
  li
    font-size: 14px
    margin: 2px 0px
    color: rgba(0,0,0,.7)
    width: 100%
.one-column
  display: inline-block;
  width: 100%
  li
    margin: 2px 0px
    font-size: 14px
    color: rgba(0,0,0,.7)
    display: inline-block;
    width: 100%

.complete-options
  .container-transportation-items
    margin: 25px 0px
  .see-all
    color: $strong-blue
    font-size: 14px
    font-family: 'Ubuntu-Medium'
  .top-options
    display: table
    width: 100%
    h3
      color: $strong-blue
      font-size: 18px
      font-family: 'Ubuntu-Medium'
    & > div
      display: table-cell
    & > div:first-child
      text-align: left
    & > div:last-child
      text-align: right

.detail-column-right .detail-form .chosen-container{margin:10px 0;font-size:14px;color:rgba(0,0,0,.7);font-family:'Open Sans'}
