.container-transport-list
  display: table;
  text-align: left
  & > div
    display: table-cell
    padding-right: 50px;
    font-size: 24px
    color: $strong-blue
    font-family: 'Ubuntu-Medium'

.private-text
  margin: 30px 0px 30px 0px
  text-align: left;
  p
    font-size: 16px
    color: rgba(0,0,0, 0.7)
    font-family: 'Open Sans Light'

.container-transportation-items
  text-align: left;
  margin: 50px 0px
  figure
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 80px

.transportation-item
  display: table
  // height: 160px
  & > div
    display: table-cell
    vertical-align: bottom
    color: rgba(0,0,0, .7)
  & > div:last-child
    padding-left: 60px
  .transportation-info
    text-align: left
    h3
      font-size: 18px
      font-family: 'Ubuntu-Medium'
      color: $strong-blue
    .h3-title
      margin: 2px 0px 2px 0px
    .h3-price
      margin: 2px 0px 17px 0px
    p
      font-size: 14px
      margin:0
      margin-bottom: 10px
