.container-detail-transport
  margin: 40px 0px
  .detail-top
    display: table
    width: 100%
    & > div
      display: table-cell
      vertical-align: bottom
      width: 50%
    & > div:first-child
      position: relative;
      &:before
        content: ''
        background-image: url(../img/yellow-circle.svg)
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -25px
        left: -35px
        width: 70%
        height: 90%
        z-index: 2
    .detail-img-transport
      position: relative;
      z-index: 3
      img
        width: 100%
    & > div:last-child
      padding-left: 10%
  .detail-info-transport
    text-align: left
    h3
      font-size: 24px
      font-family: 'Ubuntu-Medium'
      color: $strong-blue
    .detail-extras
      display: table
      width: 100%
      text-align: left
      .extra
        display: inline-block;
        padding: 10px 40px 10px 0px
        span
          color: $strong-blue
          font-size: 20px
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px
        label
          display: inline-block;
          vertical-align: middle
          font-size: 14px
    .detail-information
      p
        color: rgba(0,0,0,.7)
        margin: 10px 0px
        font-size: 14px
    .detail-button
      padding: 15px 0px
  .detail-transport-form
    text-align: left
    h3
      font-size: 24px
      font-family: 'Ubuntu-Medium'
      color: $strong-blue
    .detail-transport-info
      border-radius: 3px
      background: #fbfbfb
      padding: 25px 10px
    .title-form
      span
      h2
        display: inline-block;
        vertical-align: middle;
      h2
        font-size: 18px
        color: $strong-blue
        font-family: 'Ubuntu-Medium'
        margin-left: 15px
      span
        font-size: 20px
        color: $strong-blue

.form-inputs
  .renglon
    display: table
    width: 100%
    border-spacing: 15px
    .container-el
      display: table-cell
      width: 30%

.extras-form
  font-size: 14px
  color: rgba(0,0,0,.7)
  .inputs-extras
    & > div
      display: inline-block;
      margin-right: 15px

.border-red
  border: 1px solid red !important

.detail-transport-buttons
  display: table
  width: 100%
  border-spacing: 15px
  margin-top: 20px
  & > div
    width: 30%
    display: table-cell
  button
    height: 45px
    width: 100%
    border-radius: 4px
    font-size: 14px
    border: none
    background: transparent
    font-family: 'Ubuntu-Medium'
  .button-back-gray
    background: #EAEAEA
    color: #A1A1A1
    font-family: 'Ubuntu-Medium'
  .button-back-gray-blue
    background: #24aac5
    color: #fff
    cursor: pointer
  .button-back-white
    border: 1px solid #A1A1A1
    color: #A1A1A1
  .button-back-white-blue
    border: 1px solid #24aac5
    color: #24aac5
    cursor: pointer

.container-el
  label
    display: inline-block
    width: 100%
    margin-bottom: 10px
    font-size: 14px
    color: rgba(0,0,0,.7)
  input
  .container-select
    display: inline-block;
    width: 100%
  input[type="text"]
  input[type="number"]
    height: 45px
    background: #FFF
    border-radius: 4px
    font-size: 14px
    border: none

// .blue-button
//   height: 45px
//   display: inline-block
//   color: #FFF
//   background: #24AAC5
//   border-radius: 4px
//   padding-left: 40px
//   padding-right: 40px
